*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
    
}

body{
    background-color: lightsalmon;
    height: 550px;
    width: 100%
}
.container{
    background-color: lightcyan;
    position: relative;
    width: 655px;
    height: 458px;
    margin: 20px auto;
    color: black;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;  
}
.text{
/*    text-align: center;*/
    display: block;
    font-size: 28px;
    margin-top: 180px;
    position: relative;
    float: left;
    margin-bottom: 150px;
    padding-left: 65px;
    

    
}
.markscontainer{
    float: right;
    margin-top: 110px;
    padding-right: 65px;
}
.csw1{
    margin-bottom: 25px;
    padding-top: 0px;
    background-color: transparent;
    border-bottom: 0.5px solid black;
   
}
.button1{
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    color: white;
    background-color: darkred;
}
.para{
    color: black;
    padding-top: 400px;
    text-align: center;
    font-size: 22px
}
.footer{
    text-align: center;
    margin-bottom: 0px;
    padding-top: 55px;
    color: black;
    display: block;
    font-size: 30px;
    
}
a{
    text-decoration: none;
    color: black;
}
span{
    color: darkred;
    display: block;
}
























